.settings/
.buildpath
.project
.idea
.DS_Store

# Code Recommenders
src/util/dompdf/lib/fonts/
modulos/use_template/view/use_togles.php
config/jasper_server.php
*.log
log/error.log
log/error.log
log/error.log
log/system.log
*.log
